<!DOCTYPE html>
<html>

<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">-->
  <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
  <script src="js/ext.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
  <script>
    $(document)
      .ready(function () {

        // fix main menu to page on passing
        $('.main.menu').visibility({
          type: 'fixed'
        });
        $('.overlay').visibility({
          type: 'fixed',
          offset: 80
        });

        // lazy load images
        $('.image').visibility({
          type: 'image',
          transition: 'vertical flip in',
          duration: 500
        });

        // show dropdown on hover
        $('.ui.dropdown').dropdown({
          on: 'hover'
        });

        $('.menu .item').tab();

        $('table').tablesort();

        $('#cancel').on('click', function () {
          if ($('.ui.accordion').attr('open'))
            $('.ui.accordion').accordion('close', 0);
        });
        $('.ui.accordion').accordion({
          onClose: function () {
            $('.ui.accordion').attr('open', false);
          },
          onOpen: function () {
            $('.ui.accordion').attr('open', true);
          },
          collapsible: true
        });
      });
  </script>

</head>

<body>
  <div class="ui top attached secondary blue huge pointing menu">
    <div class="ui container">
      <a href="/" class="item active">
        <i class="home icon"></i> Home
      </a>
      <a href="/order" class="item">
        <i class="clipboard list icon"></i> ORDER
      </a>
      <a href="/stocks" class="item">
        <i class="boxes icon"></i> STOCKS
      </a>
      <a href="/" class="item">
        <i class="boxes icon"></i> LOGIN
      </a>
    </div>
  </div>
  <div class="ui container segment">
    <h3 class="ui dividing header">
      <i class="dolly flatbed icon large"></i>
      <div class="content top">
        SALES ORDER DASHBOARD
      </div>
      <!-- <i class="calendar alternate outline icon"></i> -->
    </h3>
    <table class="ui selectable sortable blue large padded table" id="triptable">
      <thead>
        <tr class="center aligned">
          <th>CUSTOMER NAME</th>
          <th>ADDRESS</th>
          <th>CITY</th>
          <th>COUNTRY</th>
          <th class="two wide">STATUS</th>
        </tr>
      </thead>
      <tbody>
        <!-- {% for prod in preorder %}
        <tr class="center aligned">
          {% for detail in prod.product%}
          <td data-label="">{{ detail }}</td>
          {% endfor %}
          <form action="/orderproduct" method="post" name="removeprod">
            <td class="center aligned two wide">
              <input type="text" name="id" value="{{ prod.id }}" />
              <input type="hidden" value="REMOVEPRODUCT" name="intent">
              <button class="ui red button" type="submit" value="REMOVEPRODUCT" name="intent">Remove</button>
            </td>
          </form>
        </tr>
        {% endfor %} -->
      </tbody>
    </table>
  </div>

</body>

</html>