<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"> -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.semanticui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="js/ext.js"></script>
    <script>
        $(document)
            .ready(function () {

                // fix main menu to page on passing
                $('.main.menu').visibility({
                    type: 'fixed'
                });
                $('.overlay').visibility({
                    type: 'fixed',
                    offset: 80
                });

                // lazy load images
                $('.image').visibility({
                    type: 'image',
                    transition: 'vertical flip in',
                    duration: 500
                });

                // show dropdown on hover
                $('.ui.dropdown').dropdown({
                    on: 'hover'
                });

                //$('.menu .item').tab();

                //$('table').tablesort();

                $('#cancel').on('click', function () {
                    if ($('.ui.accordion').attr('open'))
                        $('.ui.accordion').accordion('close', 0);
                    $('#vehicletype').dropdown('clear');
                    $('#location').dropdown('clear');
                });

                $('.ui.accordion').accordion({
                    onClose: function () {
                        $('.ui.accordion').attr('open', false);
                    },
                    onOpen: function () {
                        $('.ui.accordion').attr('open', true);
                    },
                    collapsible: true
                });

                $('#triptable').DataTable();

            });
    </script>
</head>

<body>
    <div class="ui top attached secondary blue huge pointing menu">
        <div class="ui container">
            <a href="/" class="item">
                <i class="home icon"></i> HOME
            </a>
            <a href="/order" class="item active">
                <i class="clipboard list icon"></i> ORDER
            </a>
            <a href="/stocks" class="item">
                <i class="box icon"></i> STOCKS
            </a>
        </div>
    </div>
    <div class="ui raised container segment">
        <div class="ui raised container segment">
            {% if details:%}                
                {% for item in details:%}            
                    <form class="ui form" action="/order" method="POST">
                        <h4 class="ui dividing header">Shipping Information</h4>
                        <div class="field">
                                <label>Name</label>
                            <div class="two fields">
                                <div class="field">
                                    <input type="text" name="shipping[first-name]" placeholder="1First Name" value="{{ item.shipping[0] }}">
                                </div>
                                <div class="field">
                                    <input type="text" name="shipping[last-name]" placeholder="Last Name" value="{{ item.shipping[1] }}">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Billing Address</label>
                            <div class="fields">
                                <div class="twelve wide field">
                                    <input type="text" name="shipping[address]" placeholder="Street Address" value="{{ item.shipping[2] }}">
                                </div>
                                <div class="four wide field">
                                    <input type="text" name="shipping[address-2]" placeholder="Apt #" value="{{ item.shipping[3] }}">
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>City</label>
                                <div class="ui fluid search selection dropdown">
                                    <input type="hidden" name="city" value="{{ item.shipping[4] }}">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select City</div>
                                    <div class="menu">
                                        <div class="item" data-value="CEB"></i>Cebu City</div>
                                        <div class="item" data-value="MDC"></i>Mandaue City</div>
                                        <div class="item" data-value="LPC"></i>Lapu-lapu City</div>
                                        <div class="item" data-value="CLC"></i>Consolascion City</div>
                                        <div class="item" data-value="NGC"></i>Naga City</div>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Country</label>
                                <div class="ui fluid search selection dropdown">
                                    <input type="hidden" name="country" value="{{ item.shipping[5] }}">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Select Country</div>
                                    <div class="menu">
                                        <div class="item" data-value="au"><i class="au flag"></i>Australia</div>
                                        <div class="item" data-value="at"><i class="at flag"></i>Austria</div>
                                        <div class="item" data-value="az"><i class="az flag"></i>Azerbaijan</div>
                                        <div class="item" data-value="br"><i class="br flag"></i>Brazil</div>
                                        <div class="item" data-value="kh"><i class="kh flag"></i>Cambodia</div>
                                        <div class="item" data-value="ca"><i class="ca flag"></i>Canada</div>
                                        <div class="item" data-value="dk"><i class="dk flag"></i>Denmark</div>
                                        <div class="item" data-value="do"><i class="do flag"></i>Dominican Republic</div>
                                        <div class="item" data-value="eg"><i class="eg flag"></i>Egypt</div>
                                        <div class="item" data-value="gb"><i class="gb flag"></i>England</div>
                                        <div class="item" data-value="ph"><i class="ph flag"></i>Philippines</div>
                                        <div class="item" data-value="us"><i class="us flag"></i>United States</div>
                                        <div class="item" data-value="zw"><i class="zw flag"></i>Zimbabwe</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="ui green button" type="submit" value="saveshippingdetails" name="intent">Submit</button>
                        <input class="ui red button" type="reset" value="Cancel" id="cancel">
                    </form>
                {% endfor %}
            {% else: %}
            <form class="ui form" action="/order" method="POST">
                <h4 class="ui dividing header">Shipping Information</h4>
                <div class="field">
                    <label>Name</label>
                    <div class="two fields">
                        <div class="field">
                            <input type="text" name="shipping[first-name]" placeholder="2First Name"
                                value="{{ details }}">
                        </div>
                        <div class="field">
                            <input type="text" name="shipping[last-name]" placeholder="Last Name"
                                value="">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Billing Address</label>
                    <div class="fields">
                        <div class="twelve wide field">
                            <input type="text" name="shipping[address]" placeholder="Street Address">
                        </div>
                        <div class="four wide field">
                            <input type="text" name="shipping[address-2]" placeholder="Apt #">
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>City</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="city">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select City</div>
                            <div class="menu">
                                <div class="item" data-value="CEB"></i>Cebu City</div>
                                <div class="item" data-value="MDC"></i>Mandaue City</div>
                                <div class="item" data-value="LPC"></i>Lapu-lapu City</div>
                                <div class="item" data-value="CLC"></i>Consolascion City</div>
                                <div class="item" data-value="NGC"></i>Naga City</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Country</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="country">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Country</div>
                            <div class="menu">
                                <div class="item" data-value="au"><i class="au flag"></i>Australia</div>
                                <div class="item" data-value="at"><i class="at flag"></i>Austria</div>
                                <div class="item" data-value="az"><i class="az flag"></i>Azerbaijan</div>
                                <div class="item" data-value="br"><i class="br flag"></i>Brazil</div>
                                <div class="item" data-value="kh"><i class="kh flag"></i>Cambodia</div>
                                <div class="item" data-value="ca"><i class="ca flag"></i>Canada</div>
                                <div class="item" data-value="dk"><i class="dk flag"></i>Denmark</div>
                                <div class="item" data-value="do"><i class="do flag"></i>Dominican Republic</div>
                                <div class="item" data-value="eg"><i class="eg flag"></i>Egypt</div>
                                <div class="item" data-value="gb"><i class="gb flag"></i>England</div>
                                <div class="item" data-value="ph"><i class="ph flag"></i>Philippines</div>
                                <div class="item" data-value="us"><i class="us flag"></i>United States</div>
                                <div class="item" data-value="zw"><i class="zw flag"></i>Zimbabwe</div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="ui green button" type="submit" value="saveshippingdetails" name="intent">Submit</button>
                <input class="ui red button" type="reset" value="Cancel" id="cancel">
            </form>
            {%endif%}
        </div>
    </div>
</body>

</html>