<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"> -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.semanticui.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="js/ext.js"></script>
    <script>
        $(document)
            .ready(function () {

                // fix main menu to page on passing
                $('.main.menu').visibility({
                    type: 'fixed'
                });
                $('.overlay').visibility({
                    type: 'fixed',
                    offset: 80
                });

                // lazy load images
                $('.image').visibility({
                    type: 'image',
                    transition: 'vertical flip in',
                    duration: 500
                });

                // show dropdown on hover
                $('.ui.dropdown').dropdown({
                    on: 'hover'
                });

                //$('.menu .item').tab();

                //$('table').tablesort();

                $('#cancel').on('click', function () {
                    if ($('.ui.accordion').attr('open'))
                        $('.ui.accordion').accordion('close', 0);
                    $('#vehicletype').dropdown('clear');
                    $('#location').dropdown('clear');
                });

                $('.ui.accordion').accordion({
                    onClose: function () {
                        $('.ui.accordion').attr('open', false);
                    },
                    onOpen: function () {
                        $('.ui.accordion').attr('open', true);
                    },
                    collapsible: true
                });

                $('#triptable').DataTable();

            });
    </script>
</head>

<body>
    <div class="ui top attached secondary blue huge pointing menu">
        <div class="ui container">
            <a href="/" class="item">
                <i class="home icon"></i> HOME
            </a>
            <a href="/order" class="item active">
                <i class="clipboard list icon"></i> ORDER
            </a>
            <a href="/stocks" class="item">
                <i class="box icon"></i> STOCKS
            </a>
        </div>
    </div>
    <div class="ui raised container segment">
        <div class="ui raised container segment">
            <h3 class="ui dividing header">
                <i class="dolly flatbed icon large"></i>
                <div class="content top">
                    PRODUCTS ORDER
                </div>
                <!-- <i class="calendar alternate outline icon"></i> -->
            </h3>
            <table class="ui selectable sortable blue large padded table" id="triptable">
                <thead>
                    <tr class="center aligned">
                        <th>Product Code</th>
                        <th>Description</th>
                        <th>UOM</th>
                        <th>Quantity</th>
                        <th class="two wide">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prod in preorder %}
                    <tr class="center aligned">
                        {% for detail in prod.product%}
                        <td data-label="">{{ detail }}</td>
                        {% endfor %}
                        <form action="/orderproduct" method="post" name="removeprod">
                            <td class="center aligned two wide">
                                <input type="text" name="id" value="{{ prod.id }}" />
                                <input type="hidden" value="REMOVEPRODUCT" name="intent">
                                <button class="ui red button" type="submit" value="REMOVEPRODUCT" name="intent">Remove</button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="two fields">
                <div class="field">
                    <div class="ui accordion field">
                        <button class="ui blue button title"> <i class="boxes icon"></i>
                            Add Product</button>
                        <div class="content field">
                            <form id="orderform" class="ui form" action="/orderproduct" method="post">
                                <div class="ui large blue segment">

                                    <div class="two fields">
                                        <div class="field four wide">
                                            <label for="productcode">Product Code</label>
                                            <input name="productcode" id="productcode" type="text"
                                                placeholder="Product Code" required>
                                        </div>
                                        <div class="field disabled input twelve wide">
                                            <label for="description">Description</label>
                                            <input name="description" id="description" type="text">
                                        </div>
                                    </div>

                                    <div class="two fields">
                                        <div class="field">
                                            <label for="uom">UOM</label>
                                            <select name="uom" id="uom" class="ui search selection dropdown">
                                                <option value="">UOM</option>
                                                <option value="CASE">CASE</option>
                                                <option value="PCS">PCS</option>
                                            </select>
                                        </div>
                                        <div class="field">
                                            <label for="quantity">Quantity</label>
                                            <input name="qty" id="qty" type="text">
                                        </div>
                                    </div>
                                    <button class="ui blue button" type="submit" value="ADDPRODUCT" name="intent">Submit</button>
                                    <input class="ui red button" type="reset" value="Cancel" id="cancel">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
                <div class="field">
                        <form id="orderform" class="ui form" action="/" method="post">
                            <button class="ui green button" type="submit" value="SAVEORDER" name="intent">Submit</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $('[name="removeprod"]').on('submit', function (e) {
            var self = this;
            e.preventDefault();
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this todo.",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then(function (willDelete) {
                    if (willDelete) {
                        swal("Deleted successfully!", {
                            icon: "success",
                        });

                        setTimeout(function () {
                            self.submit();
                        }, 1000);
                    }
                });
            return;
        });
    </script>

</body>

</html>